.sub-boton {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-boton:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
}

.sub-boton:active {
  transform: translateY(-3px);
}
